<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>New comment</title>
    </head>
    <body>
        <form method="post" action="/comments/asd/new">
            <label>
                Write something:
                <textarea maxlength="999" name="text"></textarea>
            </label>
            <input type="hidden" name="parentCommentID" value="62857331a99d45f0e09acef3">
            <input type="submit" value="Post comment">
        </form>
    </body>
</html>