<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>New comment</title>
    </head>
    <body>
        <form method="post" action="/posts/asd/comments/new">
            <label>
                Write something:
                <textarea maxlength="999" name="text"></textarea>
            </label>
            <input type="hidden" name="postID" value="62855a856977be0bd524d990">
            <input type="submit" value="Post">
        </form>
    </body>
</html>