<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Delete post</title>
    </head>
    <body>
        <form method="post" action="/posts/asd/delete">
            <label>
                Post ID:
                <input type="text" name="postID">
            </label>
            <input type="submit" value="Post">
        </form>
    </body>
</html>