<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Delete user</title>
    </head>
    <body>
        <form method="post" action="/profile/asd/delete">
            
            <input type="submit" value="Delete user">
        </form>
    </body>
</html>