<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Delete comment</title>
    </head>
    <body>
        <form method="post" action="/comments/asd/delete">
            <label>
                Comment ID:
                <input type="text" name="commentID">
                <input type="hidden" name="postID" value="62ba002d3a26a953b3ad0cd9">
            </label>
            <input type="submit" value="Post">
        </form>
    </body>
</html>