<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Like comment</title>
    </head>
    <body>
        <form method="post" action="/comments/asd/like">
            <label>
                Comment ID:
                <input type="text" name="id"></input>
            </label>
            <input type="submit" value="Like">
        </form>
    </body>
</html>