<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>New friend request</title>
    </head>
    <body>
        <form method="post" action="/profile/asd/remove">
            <label>
                ID:
                <input type="text" name="profileID">
            </label>
            <input type="submit" value="Send request">
        </form>
    </body>
</html>