<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Unlike post</title>
    </head>
    <body>
        <form method="post" action="/posts/asd/unlike">
            <label>
                Post ID:
                <input type="text" name="id"></input>
            </label>
            <input type="submit" value="Unlike">
        </form>
    </body>
</html>